In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [7]:
train_data=pd.read_excel('Data_train.xlsx')

pd.set_option('display.max_columns',None)

In [9]:
train_data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [10]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [11]:
train_data['Duration'].value_counts()

2h 50m     550
1h 30m     386
2h 45m     337
2h 55m     337
2h 35m     329
          ...
30h 10m      1
5m           1
36h 25m      1
27h 55m      1
41h 20m      1
Name: Duration, Length: 368, dtype: int64

In [20]:
train_data.dropna(inplace=True)

In [21]:
train_data.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
dtype: int64

In [23]:
train_data['journey_day'] = pd.to_datetime(train_data["Date_of_Journey"],format = "%d/%m/%Y").dt.day

In [24]:
train_data['journey_month'] = pd.to_datetime(train_data["Date_of_Journey"],format = "%d/%m/%Y").dt.month

In [25]:
train_data.drop(["Date_of_Journey"],axis=1,inplace = True)

In [26]:
train_data['Dept_Hour'] = pd.to_datetime(train_data["Dep_Time"]).dt.hour
train_data['Dept_Min'] = pd.to_datetime(train_data["Dep_Time"]).dt.minute

In [28]:
train_data['Arrival_Hour'] = pd.to_datetime(train_data["Arrival_Time"]).dt.hour
train_data['Arrival_Minute'] = pd.to_datetime(train_data["Arrival_Time"]).dt.minute

KeyError: 'Arrival_Time'

In [35]:
train_data.drop(["Arrival_Time"],axis=1,inplace = True)

KeyError: "['Arrival_Time'] not found in axis"

In [30]:
train_data.head()

,Airline,Source,Destination,Route,Dep_Time,Total_Stops,Additional_Info,Price,journey_day,journey_month,Dept_Hour,Dept_Min
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,non-stop,No info,3897,24,3,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,2 stops,No info,7662,1,5,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,2 stops,No info,13882,9,6,9,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,1 stop,No info,6218,12,5,18,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,1 stop,No info,13302,1,3,16,50

# for loop for Duration

In [31]:
duration = list(train_data["Duration"])
for i in range(len(duration)):
    
    if len(duration[i].split()) != 2:
        
        if 'h' in duration[i]:
            
            
            
        
            duration[i] = duration[i].strip() + "0m"
            
        else:
            
            duration[i] ="0h" + duration[i]
            
            
             
duration_hours = []
duration_mins = []
for i in range(len(duration)):
    
    
               
                           
    duration_hours.append(int(duration[i].split(sep ="h")[0]))
    
    duration_mins.append((duration[i].split(sep ="m")[0].split()[-1]))

KeyError: 'Duration'

In [32]:
train_data.head()

,Airline,Source,Destination,Route,Dep_Time,Total_Stops,Additional_Info,Price,journey_day,journey_month,Dept_Hour,Dept_Min
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,non-stop,No info,3897,24,3,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,2 stops,No info,7662,1,5,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,2 stops,No info,13882,9,6,9,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,1 stop,No info,6218,12,5,18,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,1 stop,No info,13302,1,3,16,50

In [33]:
train_data.drop("Duration",axis=1,inplace = True)

KeyError: "['Duration'] not found in axis"

In [34]:
train_data

,Airline,Source,Destination,Route,Dep_Time,Total_Stops,Additional_Info,Price,journey_day,journey_month,Dept_Hour,Dept_Min
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,non-stop,No info,3897,24,3,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,2 stops,No info,7662,1,5,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,2 stops,No info,13882,9,6,9,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,1 stop,No info,6218,12,5,18,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,1 stop,No info,13302,1,3,16,50
...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,CCU → BLR,19:55,non-stop,No info,4107,9,4,19,55
10679,Air India,Kolkata,Banglore,CCU → BLR,20:45,non-stop,No info,4145,27,4,20,45
10680,Jet Airways,Banglore,Delhi,BLR → DEL,08:20,non-stop,No info,7229,27,4,8,20
10681,Vistara,Banglore,New Delhi,BLR → DEL,11:30,non-stop,No info,12648,1,3,11,30
10682,Air India,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,2 stops,No info,11753,9,5,10,55